@charset "utf-8";
/* CSS Document */
@font-face{
	font-family:"circula Thin";
	src:url(Fonts/circula-medium.otf);}
@font-face{
	font-family:"neutronium";
	src:url(Fonts/Neutronium.ttf);}
@font-face{
	font-family: "Mystery";
	src: url(Fonts/MysteryQuest-Regular.ttf);	
	}
body{
	background-color:black;
	display:block;
	line-height:30px;
	background-image:url(Images/void.jpg);
	background-size:auto;
	background-repeat:no-repeat;
	background-position:center;

	}
header{
	display:block;
	position:relative;
	margin-top:100px;
	width:100%;
	margin-left:10%;
	margin-right:10%;
	}

	
#menu{
	display:block;
	float:left;
	margin-left:auto;
	margin-right:auto;
	width:80%;
	height:50px;
	background:#333;	
	border-style:solid;
	border-color:#FFF;
	border-radius:20px;
	min-width:650px;
	min-height:45px;
	max-height:250px;
	}
	

	
#menu ul{
	display:inline-block;
	list-style:none;
	
	}
#menu ul li{
	font-family:"circula Thin";
	font-size:24px;
	float:left;
	border-right: 3px solid white;
	min-width:10%;
	}
#menu ul li a{
	padding-left:20px;
	padding-right:20px;
	text-decoration:none;
	color:white;
	}
#menu ul li a:hover{
	color:black;}
#menu ul li:first-child{
	margin:none;
	padding:none;
	}
#menu ul li:last-child{
	border-right:none;}
	
	
	
	
		
#containMe{
	display:block;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
	border:2px solid white;
	border-radius:20px;
	height:auto;
	}		
#containMe img{
	width:20%;
	margin-left:auto;
	margn-right:auto;
	margin-top: 30px;
	border:2px solid white;
	border-radius:10px;

	}	
#mytext{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:80%;}	
#mytext p{
	font-family:"Designer Block";
	font-size:36px;
	color:white;
	line-height:100%;}
	
#spacer{
	display:block;
	height:70px;}	

		
		






		
	
#footContain{
	display:block;
		clear:both;}
footer{
	display:block;
	position:absolute;
	width:80%;
	margin-left:10%;
	margin-right:10%;
	float:left;
	border-top:1px solid #999;

	
	
	}
footer p{
	color:#FFF;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	padding:0px;
	margin-bottom:0px;}
.footlate{
	font-family:neutronium;
	font-size:20px;}	
	
footer ul{	
	margin-left:auto;
	margin-right:auto;
	padding-left:0px;
	padding-right:100px;
	list-style-type:none;
	float:left;
	}

.customFB{
	font-family:"circula Thin";
	font-size:18px;
	color:#66F;}
.customGP{
	font-family:"circula Thin";
	font-size:18px;
	color:#F60;}
	
footer ul li:first-child{
	font-family:"Designer Block";
	font-size:16px;
	color:white;
	text-decoration:underline;}
footer ul li{
	font-family:"circula Thin";
	font-size:15px;
	color:white;
	}
footer ul a{
	text-decoration:none;
	color:#FFF;}
}	
	

