@charset "utf-8";
/* CSS Document */
body{
	background-color:#CC9;
	display:block;
	line-height:30px;
	}
	
#menu{
	display:block;
	margin-top:70px;
	margin-left:auto;
	margin-right:auto;
	width:80%;
	text-align:center;
	background:#FC9;

	
	}
#menu ul{
	list-style:none;}
#menu ul li{
	font-family:"circula Thin";
	font-size:24px;
	display:block;
	float:left;
	border-right: 1px solid grey;
	height:50px;
	}
#menu ul li a{
	padding-left:20px;
	padding-right:20px;
	text-decoration:none;
	color:black;
	}
#menu ul li:first-child{
	border-left:none;
	}
	#menu ul li:last-child{
		border-right:none;}
@font-face{
	font-family:"circula Thin";
	src:url(circula-medium.otf);
	}
header{
	display:block;
	position:relative;
	}