@charset "utf-8";
/* CSS Document */
body{
	background-color:black;
	background-image:url(Images/Mystery.jpg);
	background-size: cover;
	background-repeat:no-repeat;
	background-position:top;
	display:block;


	}
@font-face{
	font-family:"Mystery Quest";
	src:url(MysteryQuest-Regular.ttf);}
p a{
	display:block;
	text-decoration:none;
	padding-top:20%;
	margin-left:auto;
	margin-right:auto;
	width:80%;
	
	color:white;
	font-family:"Mystery Quest";
	font-size:10vh;
	text-align:center;
	}




header{
	display:block;
	position:relative;
	margin-top:100px;
	width:100%;
	margin-left:10%;
	margin-right:10%;
	}

	
#menu{
	display:block;
	float:left;
	margin-left:auto;
	margin-right:auto;
	width:80%;
	height:50px;
	background:#333;	
	border-style:solid;
	border-color:#FFF;
	border-radius:20px;
	min-width:650px;
	min-height:45px;
	max-height:250px;
	}
	

	
#menu ul{
	display:inline-block;
	list-style:none;
	
	}
#menu ul li{
	font-family:"circula Thin";
	font-size:24px;
	float:left;
	border-right: 3px solid white;
	min-width:10%;
	}
#menu ul li a{
	padding-left:20px;
	padding-right:20px;
	text-decoration:none;
	color:white;
	}
#menu ul li a:hover{
	color:black;}
#menu ul li:first-child{
	margin:none;
	padding:none;
	}
	#menu ul li:last-child{
		border-right:none;}
@font-face{
	font-family:"circula Thin";
	src:url(circula-medium.otf);
	}
