@charset "utf-8";
/* CSS Document */

#transition{
	text-align:center;
		 transition-property:all;
		 transition-delay: 0s;
		 transition-duration: 3s;
		 background-color:#F30;
		 margin-left:10%;
		 margin-right:10%;
		 
		 
		}

#transition:hover{
		background:#3C3;  							
		transform:skew(3,1)
		transform-origin:left;
					
		}
div{
	display:block;}
