@charset "utf-8";
/* CSS Document */

#transition{
	text-align:center;
		 transition-property:all;
		 transition-delay: 0s;
		 transition-duration: 3s;
		 background-color:#F30;
		 margin-left:20%;
		 margin-right:20%;
		 
		 
		}

#transition:hover{
		background:#3C3;  							
		transform:scaleX(1.5);
		transform-origin:center;
					
		}
div{
	display:block;}
